* {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

body {
  padding: 50px;
  font-size: 1.5em; }

.product {
  width: 500px;
  margin: 10px auto;
  padding: 30px;
  border-bottom: 1px solid grey;
  -webkit-box-shadow: 5px 0px 10px 1px;
          box-shadow: 5px 0px 10px 1px; }
  .product__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1em;
    padding: 0 20px 10px 50px;
    padding: 20px;
    background: rgba(128, 128, 128, 0.2); }

.panel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .panel__nav-item {
    border-radius: 10px;
    background: grey; }
    .panel__nav-item a {
      display: block;
      padding: 20px;
      color: black;
      text-decoration: none; }
      .panel__nav-item a:hover {
        color: white; }

.panel__tab {
  padding: 20px; }
  .panel__tab h4 {
    padding-bottom: 20px;
    font-size: 1.2em; }

.gallery__current {
  width: 70%;
  margin: 20px auto;
  display: block;
  border: 5px solid grey; }

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reviews__item {
  padding: 20px;
  border-left: 6px solid grey;
  margin: 20px;
  background: rgba(128, 128, 128, 0.05); }

.active {
  background: red; }
