<product-gallery></product-gallery>
<!-- End Gallery -->
<div class="panel">
  <ul class="panel__nav">
    <li class="panel__nav-item" ng-class="{ active: panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
    <li class="panel__nav-item" ng-class="{ active: panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specification</a></li>
    <li class="panel__nav-item" ng-class="{ active: panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
  </ul>

  <div class="panel__tab" ng-show="panel.isSelected(1)">
    <h4>Description</h4>
    <p>{{product.description}}</p>
  </div>
  <div class="panel__tab" ng-show="panel.isSelected(2)">
    <h4>Specification</h4>
    <p>{{product.description}}</p>
  </div>
  <div class="panel__tab" ng-show="panel.isSelected(3)">
    <h4>Reviews</h4>
    <ul>
      <li class="reviews__item" ng-repeat="review in product.reviews">
        <blockquote>
          <strong>{{review.stars}} Stars</strong>
          {{review.body}}
          <cite class="clearfix">- {{review.author}} on {{ reviewCtrl.onCreated | date }}</cite>
        </blockquote>
      </li>
    </ul>
    <!--  Review Form -->
    <product-review></product-review>

  </div>
  <!-- End Panels -->
</div>
